@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

$body-bg: #222831;
$body-color: #ffffff;

$button-color: #a070a1;
$button-color_hover: #433751;
$grey: #606470;

:root {
    --margin: 12%;
    --padding: 8%;
    --border-radius: 8px;
    --headings: 24px;
    --font-size-text: 18px;
}

@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Playfair';
}

//LOGIN VIEW
#login-heading {
    font-size: var(--headings);
}

.submit-btn {
    background-color: $button-color;
    margin-top: 5%;
}

.submit-btn:hover {
    background-color: $button-color_hover;
}

.login-form {
    margin: var(--margin);
    padding: var(--padding);

    border: 1px solid $button-color_hover;
    border-radius: var(--border-radius);
}

.form-label {
    font-size: var(--font-size-text);
}

.signup-link {
    text-decoration: none;
    color: $body-color;
    font-size: var(--font-size-text);

    display: flex;
    justify-content: end;
}



//SIGNUP VIEW
.signup-view {
    margin: var(--margin);
    padding: 6%;

    border: 1px solid $button-color_hover;
    border-radius: var(--border-radius);
}



//NAVIGATION VIEW
#navbar-heading {
    color: $body-color !important;
    font-size: var(--headings);
    letter-spacing: 0.2rem;
}

//heading animation
#navbar-heading span {
    transition: 0.5s ease-out;
}

#navbar-heading:hover span {
    margin-left: 5px;
    color: $button-color;
    text-shadow: 0 0 10px $button-color, 0 0 20px $button-color;
}

.navbar-links {
    color: $body-color;
    font-size: var(--font-size-text);
}

.navbar-links:hover {
    cursor: pointer;
    color: $button-color;
}



//MOVIE CARD VIEW
#movie-card {
    border: none;
    padding: 5%;
}

.card-image {
    max-width: 100%;
}

#movie-btn {
    text-decoration: none;
    color: $body-color;
}



//MAIN VIEW
.search {
    width: 200px;
    margin-top: 20px;
}



//MOVIE VIEW
.movie-view {
    margin: var(--margin);
}

.headings {
    text-transform: capitalize;
}

.back-button {
    background-color: $button-color;
}

.back-button:hover {
    background-color: $button-color_hover;
}



//PROFILE VIEW
.profile_heading {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.profile_username,
.profile_email {
    color: $button-color;
    font-size: var(--font-size-text);
}

.user_username,
.user_email {
    font-size: var(--font-size-text);
}

.save-btn,
.del-btn {
    margin-top: 20px;
    margin-bottom: 30px;
}

.save-btn:hover {
    color: $button-color_hover;
}

.modal-text {
    font-size: var(--font-size-text);
}